#main {
    background-image: url(../Images/background.png);
    background-repeat: repeat;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 25%;
    
}